.about {
    margin-top: 100vh;
    padding: 150px 0px 250px;

    .aside__progress {
        height: 50%;
        width: 100%;
        background-color: $primary;
    }

    .chapter {
        transition: all 0.5s ease;
        width: 80%;
        animation: chapterRise 0.5s 1;
    }

    .article__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;
        width: 60vw;

        .article__navigator {
            width: 20%;

            .navigator__list {
                display: flex;
                flex-direction: column;
                gap: 35px;

                .active {
                    .navigator__button {
                        color: $primary;
                        font-weight: 600;
                        animation: navigatorRise 0.5s 1;
                    }

                    .navigator__span {
                        padding-bottom: 10px;
                        border-bottom: 1px solid $primary;
                    }
                }

                .navigator__button {
                    white-space: nowrap;
                    font-size: 16px;
                    letter-spacing: 0.05em;
                    color: $secondary;
                }
            }
        }

        .article__info {
            .article__name {
                font-size: 24px;
                margin-bottom: 5px;
            }

            .article__subtitle {
                font-size: 14px;
                color: $secondary;
                margin-bottom: 35px;
            }

            .article__text {
                font-size: 16px;
                color: $secondary;
                margin-bottom: 30px;
            }

            .article__character {
                font-size: 16px;
                letter-spacing: 0.05em;
            }
        }
    }

    .article__work {
        .company {
            display: flex;
            align-items: flex-start;
            gap: 35px;
            margin-bottom: 30px;

            .company__logo>svg {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px;
                width: 150px;
                height: 150px;
                background-color: #2B2D3F;
                border-radius: 10px;
            }

            .company__name {
                font-size: 24px;
                margin-bottom: 5px;
            }

            .company__subtitle {
                color: $secondary;
                font-size: 14px;
                margin-bottom: 15px;
            }

            .company__attrs {
                font-weight: 700;
                font-size: 16px;
                margin-bottom: 15px;

                .company__span {
                    padding: 0px 15px;
                }
            }

            .company__about {
                color: $secondary;
                font-size: 16px;
                margin-bottom: 20px;
            }

            .company__link {
                font-weight: 700;
                font-size: 16px;
                text-decoration: underline;
            }
        }
    }

    .article__technologies {
        .chapter__inner {
            display: flex;
            flex-direction: column;
            gap: 40px;

            .article__button {
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 32px;
                font-weight: 700;
                margin-bottom: 20px;

                svg {
                    transition: transform 0.3s ease;
                    transform: rotate(180deg);
                }
            }

            .active {
                svg {
                    transform: rotate(0deg);
                }
            }

            .chapter__list {
                display: flex;
                flex-direction: column;
                transition: all 0.5s ease;
                gap: 20px;
                animation: listRise 0.5s 1;

                .chapter__element {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .chapter__span {
                        color: $secondary;
                        font-size: 16px;
                    }

                    .chapter__tech {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}