.contact {
    margin-top: 100vh;
    padding-bottom: 150px;

    .article {
        width: 100%;
    }

    .aside__progress {
        height: 100%;
        width: 100%;
        background-color: $primary;
    }

    .article__title {
        font-size: 48px;
        margin-bottom: 20px;
    }

    .article__subtitle {
        font-size: 20px;
        font-weight: 500;
        color: $secondary;
        margin-bottom: 60px;
    }

    .article__email {
        font-size: 48px;
    }

    .article__social-subtitle {
        margin-top: 60px;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .social {
        display: flex;
        gap: 30px;

        &__link {
            color: $secondary;
            transition: color 0.5s ease;

            &:hover {
                color: $primary;
            }
        }
    }
}