.first-screen {
    padding-top: 150px;

    .aside__progress {
        height: 25%;
        width: 100%;
        background-color: $primary;
    }

    .article__subtitle {
        font-size: 14px;
        margin-bottom: 30px;
        font-weight: 500;
    }

    .article__title {
        font-size: 64px;
        margin-bottom: 20px;
    }

    .article__text {
        font-size: 20px;
        color: $secondary;
        letter-spacing: 0.05em;
        width: 65%;
        margin-bottom: 50px;
    }
}