.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 0px;
    z-index: 0;

    position: fixed;
    bottom: 0;
    width: inherit;
    max-width: inherit;

    @media (max-width: 425px) {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .footer__social {
        transition: all 0.5s ease;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .footer__arrow {
            transition: all 0.2s ease;
        }

        .top {
            transform: rotate(180deg);
        }
    }


    .social__list {
        display: flex;
        gap: 30px;

        .social__link {
            color: $secondary;
            transition: color 0.5s ease;

            &:hover {
                color: $primary;
            }
        }
    }
}