.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;

    position: fixed;
    top: 0;
    width: inherit;
    max-width: inherit;

    &__logo {
        font-weight: 600;
        display: flex;
        flex-direction: column;

        .logo__span:first-child {
            letter-spacing: 0.27em;
        }

        .logo__span:last-child {
            letter-spacing: 0.1em;
        }
    }

    .header__menu {
        display: flex;
        align-items: center;
        gap: 60px;

        .header__button {
            transition: transform 0.4s ease;
        }

        .active {
            transform: rotate(-180deg);
        }

        .nav__list {
            display: flex;
            gap: 30px;
            transition: all 0.5s ease;
            animation: navRise 0.5s 1;
        }
    }
}