@import "_var";
@import "_fonts";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('../images/background.jpg');
    background-color: #0E111D;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Inter';
    color: $primary;
    overflow: hidden;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    color: $primary;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $primary;
}

.container {
    max-width: 1500px;
    width: 95%;
    margin: auto;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

@import "_header";
@import "_footer";
@import "_first-screen";
@import "_sections";
@import "_about";
@import "_portfolio";
@import "_contact";