@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local("Inter"), url("../fonts/Inter/Inter-Medium.woff") format("woff"), url("../fonts/Inter/Inter-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: local("Inter"), url("../fonts/Inter/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter/Inter-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local("Inter"), url("../fonts/Inter/Inter-Bold.woff") format("woff"), url("../fonts/Inter/Inter-Bold.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/background.jpg");
  background-color: #0E111D;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Inter';
  color: #fff;
  overflow: hidden;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1500px;
  width: 95%;
  margin: auto;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px;
  position: fixed;
  top: 0;
  width: inherit;
  max-width: inherit;
}

.header__logo {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__logo .logo__span:first-child {
  letter-spacing: 0.27em;
}

.header__logo .logo__span:last-child {
  letter-spacing: 0.1em;
}

.header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.header .header__menu .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 50px 0px;
  z-index: 0;
  position: fixed;
  bottom: 0;
  width: inherit;
  max-width: inherit;
}

@media (max-width: 425px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 30px;
  }
}

.footer .footer__social {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.footer__actions .footer__arrow {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer__actions .top {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer .social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.footer .social__list .social__link {
  color: #878787;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.footer .social__list .social__link:hover {
  color: #fff;
}

.first-screen {
  padding-top: 150px;
}

.first-screen .aside__progress {
  height: 25%;
  width: 100%;
  background-color: #fff;
}

.first-screen .article__subtitle {
  font-size: 14px;
  margin-bottom: 30px;
  font-weight: 500;
}

.first-screen .article__title {
  font-size: 64px;
  margin-bottom: 20px;
}

.first-screen .article__text {
  font-size: 20px;
  color: #878787;
  letter-spacing: 0.05em;
  width: 65%;
}

@media (max-width: 768px) {
  .first-screen .article__text {
    width: 100%;
  }
}

.main__section {
  height: calc(100vh - 127px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 95px;
}

.main__section .article__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 150px;
  z-index: -1;
}

@media (max-width: 1150px) {
  .main__section .article__title-block {
    margin-bottom: 50px;
  }
}

.main__section .article__title-block .article__title-background {
  opacity: 0.05;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 128px;
  position: absolute;
  top: -60px;
}

@media (max-width: 1000px) {
  .main__section .article__title-block .article__title-background {
    display: none;
  }
}

.main__section .article__title-block .article__title {
  font-size: 64px;
}

.main__section .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.main__section .page .aside__line {
  position: relative;
  height: 150px;
  width: 1px;
  background-color: #fff;
  opacity: 0.5;
}

.main__section .page .aside__circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__section .page .aside__article {
  font-size: 20px;
}

.main__section .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.main__section .progress .aside__article {
  text-align: center;
  line-height: 150%;
}

.main__section .progress .aside__progress-bar {
  width: 2px;
  height: 250px;
  background-color: #878787;
}

@media (max-width: 768px) {
  .main__section .main__aside {
    display: none;
  }
}

.about {
  margin-top: 100vh;
  padding: 150px 0px 250px;
}

.about .aside__progress {
  height: 50%;
  width: 100%;
  background-color: #fff;
}

.about .article__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}

@media (max-width: 1150px) {
  .about .article__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 50px;
  }
}

.about .article__wrapper .article__navigator {
  width: 40%;
}

.about .article__wrapper .article__navigator .navigator__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}

@media (max-width: 1150px) {
  .about .article__wrapper .article__navigator .navigator__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 450px) {
  .about .article__wrapper .article__navigator .navigator__list {
    gap: 10px;
  }
}

.about .article__wrapper .article__navigator .navigator__list .active .navigator__button {
  color: #fff;
  font-weight: 600;
}

.about .article__wrapper .article__navigator .navigator__list .active .navigator__span {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}

.about .article__wrapper .article__navigator .navigator__list .navigator__button {
  white-space: nowrap;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #878787;
}

.about .article__wrapper .article__info .article__name {
  font-size: 24px;
  margin-bottom: 5px;
}

.about .article__wrapper .article__info .article__subtitle {
  font-size: 14px;
  color: #878787;
  margin-bottom: 35px;
}

.about .article__wrapper .article__info .article__text {
  font-size: 16px;
  color: #878787;
  margin-bottom: 30px;
}

.about .article__wrapper .article__info .article__character {
  font-size: 16px;
  letter-spacing: 0.05em;
}

.portfolio {
  margin-top: 100vh;
  padding: 150px 0px 250px;
}

@media (max-width: 768px) {
  .portfolio {
    padding: 0px 0px 100px 0px;
  }
}

@media (max-width: 768px) {
  .portfolio .main__article {
    margin: auto;
  }
}

.portfolio .main__article .article__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.portfolio .main__article .article__wrapper .article__card-link {
  position: relative;
  z-index: 1;
}

.portfolio .main__article .article__wrapper .article__card-link:first-child > .article__card {
  background-image: url("../images/cloud-skinchanger.jpg");
}

@media (max-width: 1150px) {
  .portfolio .main__article .article__wrapper .article__card-link:first-child > .article__card {
    background-image: none;
  }
}

.portfolio .main__article .article__wrapper .article__card-link:nth-child(2) > .article__card {
  background-image: url("../images/anime-zero.jpg");
}

@media (max-width: 1150px) {
  .portfolio .main__article .article__wrapper .article__card-link:nth-child(2) > .article__card {
    background-image: none;
  }
}

.portfolio .main__article .article__wrapper .article__card-link:nth-child(3) > .article__card {
  background-image: url("../images/driving-school.jpg");
}

@media (max-width: 1150px) {
  .portfolio .main__article .article__wrapper .article__card-link:nth-child(3) > .article__card {
    background-image: none;
  }
}

.portfolio .main__article .article__wrapper .article__card-link:nth-child(4) > .article__card {
  background-image: url("../images/yandex-music.jpg");
}

@media (max-width: 1150px) {
  .portfolio .main__article .article__wrapper .article__card-link:nth-child(4) > .article__card {
    background-image: none;
  }
}

.portfolio .main__article .article__wrapper .article__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
  width: 60vw;
  background-color: #10121B;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 40px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 40px 4px rgba(0, 0, 0, 0.25);
  padding: 30px;
}

.portfolio .main__article .article__wrapper .article__card .card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.portfolio .main__article .article__wrapper .article__card .card__info .card__item {
  font-size: 24px;
}

.portfolio .main__article .article__wrapper .article__card .card__info .card__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio .main__article .article__wrapper .article__card .card__info .card__text-block .card__name {
  font-size: 20px;
}

.portfolio .main__article .article__wrapper .article__card .card__info .card__text-block .card__skills {
  font-size: 14px;
  color: #878787;
}

.portfolio .aside__progress {
  height: 75%;
  width: 100%;
  background-color: #fff;
}

.contact {
  margin-top: 100vh;
  padding-bottom: 150px;
}

.contact .article {
  width: 100%;
}

.contact .aside__progress {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.contact .article__title {
  font-size: 48px;
  margin-bottom: 20px;
}

.contact .article__subtitle {
  font-size: 20px;
  font-weight: 500;
  color: #878787;
  margin-bottom: 60px;
}

.contact .article__email {
  font-size: 48px;
}

.contact .article__social-subtitle {
  margin-top: 60px;
  font-size: 24px;
  margin-bottom: 20px;
}

.contact .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.contact .social__link {
  color: #878787;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.contact .social__link:hover {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */